#expand {display: block}
#host img {max-height: 4.2em}
#next {right: 0}
#prev {left: 0}
#prev, #next {position: fixed; height: 100%}
#prev, #next, #expand {font-size: 1.9em; color: #eee}
#prev:hover, #next:hover {background-color: #333}
#showMain {background: repeating-linear-gradient(135deg, #000, #000 .4em, #fff .4em, #fff .8em); height: 1.2em; width: 1.2em; border: 1px solid white}
.avatar {max-height: 2em; background-color: #000}
.breadcrumb {border-width: 0 0 0 .08em; border-color: #444; border-style: solid; border-radius: 0; color: #ddd}
.container > .body {border-radius: 0 .2em .2em .2em; background-color: #fff; color: #000; width: 100%}
.container > .title {border-radius: .4em .4em 0 0}
.file > .icon {font-size: 4.2em; background-color: #000; color: #fff}
.file > .name {font-size: .8em; position: absolute; top: 4.8em; left: .4em}
.file {position: relative}
.fromto:only-child {padding: .1em 64ex 256ex 64ex; margin: 0 -64ex -256ex -64ex}
.identified {border: 1px solid #333; background-color: #000; color: #fff}
.links {float: right}
.post {border-radius: .42em; max-width: 88ex; padding: .2em; margin: .166em; background-color: #000; color: #fff}
.quote {background-color: #ccc; color: #000; padding-left: .3em}
.thumb {max-width: 22em}
.title {background-color: #fff; color: #000; font-size: 1.08em; font-weight: bold; vertical-align: top; border-width: 0 0 0 .4em; border-color: #fff; border-style: solid; border-radius: .18em }
.toolbox a.icon {font-size: 1.6em}
.toolbox a.icon, .breadcrumb {text-shadow: 1px 1px #000000}
.toolbox a:target {text-shadow: 0px 0px #000000}
.toolbox svg {height: 1em; width: 1em}
.toolbox { position: fixed; top: 0; z-index: 2 }
:target {background-color: #0f0 !important; color: #000 !important}
:visited {border-color: #cff !important}
a {text-decoration: none; border-radius: .14em}
a.date {float: right; white-space: nowrap; background-color: #000; color: #888; border-radius: .2em; font-size: .8em}
a.id {float: right}
a.idlink {color: #aaa; background-color: #000; font-size: .72em; vertical-align: bottom}
a.uri > span.uri {font-size: 0.8em; font-weight: normal; color: #444}
a.uri {background-color: #fff; border-radius: .28em; color: #000; border-style: solid; border-color: #eee; border-width: 0 0 0 .2em; max-width: 42ex; overflow: hidden; margin: .1em; font-weight: bold}
a.uri.path > span.uri {color: #ccc}
a.uri.path {background-color: #181818; color: #fff; border-color: #444}
blockquote {background-color: #080808; color: #fff; border-radius: .2em; border-width: 0 0 0 .4em; border-style: solid; border-color: #222}
body {font-family: sans-serif; margin: 2em}
body, thead td, td.k {background-color: #555; color: #fff}
div,p,a,li,ul,ol,form,svg { display: inline-block }
h1,h2,h3,h4,h5,h6,blockquote {margin: 0}
img, video {max-width: 100%}
p, li, blockquote {max-width: 86ex}
pre {white-space: pre-wrap}
pre, p {margin: .125em}
span.name {font-size: .8em}
svg, img[src*="svg"] {max-width:2em; max-height: 2em}
td {overflow: hidden; vertical-align: top; border-radius: .2em}
td.k > a {color: #eee}
td.k {max-width: 28ex; text-align: right}
td.v, td[property="uri"] {background-color: #000; color: #fff}
td[property="http://rdfs.org/sioc/ns#has_creator"], td[property="http://rdfs.org/sioc/ns#addressed_to"] {text-align: center}
td[property="uri"] {max-width: 100ex; text-align: left}
thead a {color: #eee}
video {min-width: 40ex}
