#next {right: 0}
#prev {left:  0}
#prev, #next {position: fixed; top: 0; height: 100%; max-width: 1em}
#prev, #next, #up, #down {font-size: 2em; color: #fff}
#subscribe {vertical-align: top}
#subscribe.off {color: #777; background-color: #000; border: .1em solid #555}
#subscribe.on  {color: #000; background-color: #fff}
#up, #down {display: block}
.bold {font-weight: bold; font-size: 1.1em}
.post {border: .08em solid #333; background-color: #080808; color: #fff; border-radius: .3em}
.toolbox {position: fixed; top: 0; right: 0; z-index: 1}
.tree > .label {font-size: .8em; display:block; color: #eee; text-align: right}
:target, :target * {background-color:#0f0 !important; color: #000 !important}
a {overflow: hidden; text-decoration: none; max-width:32em}
a.date, .tree > a.label {font-weight: normal; font-size:.8em; color:#aaa}
a.id {float: right; color: #333}
a.link {border: 1px solid #777}
a.title, div.post, table {vertical-align: top}
body {font-family: sans-serif; margin: 0 2em 0 2em}
body, pre, p, li, time, td.k > a, tr[name="abstract"] > td.v, td.v span {background-color: #000; color: #fff}
div, p, table {border-radius: .2em}
div, td {padding: 0}
h1,h2,h3,h4,h5,h6, a.title, a.link, div.thumb {background-color: #fff; color: #000}
img, video {max-width: 100%}
img.thumb, svg {max-width: 28em}
p, .post {width: 80ex; margin: .08em}
pre {white-space: pre-wrap}
table {border-spacing: 0}
table, div, a {display: inline-block}
table:first-child, p:first-child {border-width: 0}
td {border-width: 0 0 .08em 0; border-style: solid; border-color: #333}
td.k {text-align: right; white-space: nowrap}
td.v > a {background-color: #eee; color: #000}
tr[name="content"] > td.v a         {background-color: #ddf; color: #000; border-radius: .18em}
tr[name="content"] > td.v a:visited {background-color: #222; color: #fff}
