#expand {display: block}
#next {right: 0}
#prev {left: 0}
#prev, #next {position: fixed; height: 100%; background-color: #222}
#prev, #next, #expand {font-size: 1.9em; color: #eee}
#prev:hover, #next:hover {background-color: #333}
.abstract {background-color: #2c2c2c; color: #eee; border-width: 0 0 0 .5em; border-style: solid; border-color: #555; padding: .2em}
.blocked, .blocked.post .body {background: repeating-linear-gradient(-45deg, #000, #000 .5em, #f00 .5em, #f00 1em)}
.breadcrumb > span {font-size: 1.4em; color: #aaa}
.breadcrumb {color: #eee}
.container .body {border-radius: 0 .4em .4em .4em; width: 100%; border-width: .1em; margin: 0}
.container .head {border-radius: .4em .4em 0 0; border-width: .1em .1em 0 .1em; font-weight: bold; font-size: 1.1em; padding-left: .16em; padding-right: .16em; margin: 0}
.container > .head, .container > .body {background-color: #000; color: #fff; border-style: solid; border-color: #555}
.container td.head {border-radius: .4em 0 0 .4em}
.container {margin: .2em}
.file > .icon {font-size: 4.2em; background-color: #000; color: #fff}
.file > .name {font-size: .8em; position: absolute; top: 4.8em; left: .4em}
.file {position: relative}
.greentext, .greenText {background-color: #af0; color: #000; padding-left: .3em}
.identified, .post {border: 1px solid #282828}
.links .host {text-align: right}
.links .path {font-weight: normal}
.links .path::first-letter {font-weight: bold; background-color:#888; color:#000; border-radius: .18em}
.post .body {background: repeating-linear-gradient(-45deg, #000, #000 .875em, #222 .875em, #222 1em); color: #fff}
.post .pointer {float: right}
.post { max-width: 100ex; margin: .166em}
.post:target .body {background: repeating-linear-gradient(-45deg, #000, #000 .875em, #178 .875em, #178 1em)}
.posts {border-style: solid; border-width: 0.1em}
.preembed .icon {position: absolute; left: 45%; top: 35%; font-size: 8em; color: #f00}
.preembed {position: relative; vertical-align: top}
.quote {background-color: #ddd; color: #000; padding-left: .2em}
.thumb, .thumb * {float: left; max-width: 22em}
.title {background-color: #000; color: #fff; font-size: 1.08em; font-weight: bold; vertical-align: top; border-radius: 0; border-style: dotted; border-width: 0 0 1px 0 }
.toolbox .host {position: fixed; top: 0; left: 1em; z-index: -1}
.toolbox .icon {font-size: 1.6em; color: #fff; text-shadow: 1px 1px #000000; float: right}
.toolbox a.icon:target {text-shadow: 0px 0px #000000}
.toolbox form input {background-color: #000; color: #fff; border-radius: .5em; border: 1px solid #444}
.toolbox svg {height: 1em; width: 1em}
.toolbox {vertical-align: top; margin-left: 2em}
:target {background-color: #2ef !important; color : #000 !important}
a {text-decoration: none; border-radius: .14em; color: #eee; font-weight: bold}
a.blocked {display: none}
a.date {white-space: nowrap; background-color: #000; vertical-align: bottom; color: #bbb; border-radius: .2em .2em 0 0; font-size: .8em}
a.fromto:only-child {padding: .1em 64ex 256ex 64ex; margin: 0 -64ex -256ex -64ex}
a.id {float: right}
a.idlink {color: #aaa; font-size: .72em; vertical-align: bottom}
a.title:visited, a.uri:visited, a.uri.path:visited, a.path:visited {background-color: #0f5; color: #000}
a.unblock {color: #fff; font-size: 22em; font-weight: normal; text-decoration: none}
a.uri > span.uri {font-size: 0.8em; font-weight: normal; color: #999}
a.uri {border-radius: .38em; background-color: #fff; color: #000; max-width: 42ex; overflow: hidden; margin: .1em; font-weight: bold; padding-left: .1em; padding-right: .1em}
a.uri.path {background-color: #222; color: #fff; border: .1em solid #333}
a:hover, a.uri:hover {border-color: #0ff; background-color: #0ff}
blockquote {border-radius: .2em; border-width: 0 0 0 .5em; border-style: solid; border-color: #444; margin: 0 0 0 .1em; background-color: #2c2c2c; color: #fff}
body {font-family: sans-serif; vertical-align: top; margin-left: 2em; margin-right: 2em; background-color: #000; color: #fff}
body.error > pre > a {color: #fff; font-size: 12ex; text-decoration: none}
body.error > pre {margin: auto; max-width: 120ex; white-space: pre-wrap}
body.error {background: #f00; font-weight: bold}
div, a, svg, form, table, textarea { display: inline-block }
h1,h2,h3,h4,h5,h6 {margin: 0}
iframe, .preembed {border: .2em solid #fff}
iframe.main_player {border: .25em solid red}
img, video {max-width: 100%}
p {max-width: 100ex}
p[style] {background-color: #fff; color: #000}
pre, code {white-space: pre-wrap; font-family: monospace; max-width: 255ex}
pre, p {margin: .125em}
pre, p, li, article, blockquote, textarea, td[property="uri"] {background-color: #000; color: #fff}
span.name {font-size: .8em}
svg, img[src*="svg"] {max-width:2em; max-height: 2em}
table {border-spacing: 1px; border-radius: .2em; vertical-align: top;}
table.fromto {background-color: #000; color: #fff}
table.people {max-width: 100ex; border: 1px dotted #00f}
td {overflow: hidden; vertical-align: top; border-radius: .2em}
td.k a {color: #ccc; max-width: 28ex}
td.k {text-align: right; font-weight: bold}
td.v {max-width: 255ex; overflow: hidden}
td[property="http://rdfs.org/sioc/ns#has_creator"], td[property="http://rdfs.org/sioc/ns#addressed_to"] {text-align: center}
thead a {color: #eee}
tr:hover td {background: #333}
tr[name="contains"] > td.v > a, td[property="http://www.w3.org/ns/ldp#contains"] > a {background-color: #000; color: #fff; border-width: 0 0 1px 0; border-style: dashed; border-color: #888}
video {min-width: 40ex}
